.table-wrapper {
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0px solid #ddd;
  }
  
  /* Таблица */
  .history-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .history-table th,
  .history-table td {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  
  .history-table thead tr th:first-child {
    border-top-left-radius: 0.5rem;
  }
  
  .history-table thead tr th:last-child {
    border-top-right-radius: 0.5rem;

  }
  
  .history-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;

  }
  
  .history-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .buttonLeft {
    border-radius: 8px;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #007bff;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
  }

  .pagination button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  .pagination span {
    align-self: center;
  }