#root {

}

.FormLogin {
  background-color: #0d1117;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 400px;
  transition: all 0.3s ease;
  margin: 0 auto;
  box-sizing: border-box;
}
.textH2LoginForm{
  text-align: center;
}

.LabelLoginForm{
  display: block;
  text-align: left;
  margin-left: 0;
}

.formLoginButton{
  border-radius: 8px;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #21262d;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
.formLoginButton:hover{
  border-color: #0b4b7f;
}

.formLoginButton:focus,
.formLoginButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.formLoginInput{
  width: 92%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #21262d;
  color: #f1f1f1;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.centered-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 95vh;
}

input:focus {
  border-color: #0b4b7f;
  outline: none;
}